<div  id="product-promo-pantry-{{ section.id }}">
    {% if section.settings.section_back_image != blank %}
  		<div class="background-image" style="background-image: url({{ section.settings.section_back_image | img_url: 'master' }});"></div>
  	{% endif %}
  <div class="product-promo--product {{ section.settings.custom_class }}" >
      <div class="promo-product--right lazyload"
      style="background-image:linear-gradient(41.74deg, rgba(0, 0, 0, 0.4) 32.2%, rgba(0, 0, 0, 0) 100%), url('{{ section.settings.banner_image | img_url: '1000x' }});">
        <div class="product-right--copy-text">
          <h4 class="inner-promo--title">{{ section.settings.banner_title }}</h4>
          <p class="inner-promo--text">{{ section.settings.banner_text }}</p>
          <a href="{{ section.settings.banner_url }}"
            class="btn btn-arrow--right">
            <span class="chevron right"></span>
          </a>
        </div>    
      </div>
      <div class="page-width">
        <div class="product-left--copy lazyload">
          
          <div class="product-left--copy-text">
            <h2 class="copy-promo--title">{{ section.settings.left_title }}</h2>
            <p class="copy-promo--text">{{ section.settings.left_text }}</p>
            <a href="{{ section.settings.left_url }}" class="btn copy-promo--btn">{{ section.settings.left_label }}</a>
            {% if section.settings.left_image != blank %}
            	<img src="{{ section.settings.left_image | img_url: 'master' }}">
            {% endif %}
          </div>
        </div>

      </div>
    </div>
	{% comment %}
    <div class="product-promo--featured">
      <div class="page-width">
        {% if section.settings.title != blank %}
          <div class="section-header text-center">
            {% if section.settings.title_image != blank %}
            	<img class="section-header-image" src="{{ section.settings.title_image | img_url: 'master'}}">
            {% endif %}
            <h2>{{ section.settings.title | escape }}</h2>
            <p>{{ section.settings.text }}</p>
          </div>
        {% endif %}

        {%- assign collection = collections[section.settings.collection] -%}

        {% case section.settings.grid %}
          {% when 2 %}
            {%- assign max_height = 530 -%}
            {%- assign grid_item_width = 'medium-up--one-half' -%}
          {% when 3 %}
            {%- assign max_height = 345 -%}
            {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
          {% when 4 %}
            {%- assign max_height = 250 -%}
            {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
          {% when 5 %}
            {%- assign max_height = 195 -%}
            {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
        {% endcase %}

        {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

        <ul class="grid grid--uniform grid--view-items">
          {% for product in collection.products limit: product_limit %}
            <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
              {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {% else %}

            {% for i in (1..product_limit) %}
              <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                <div class="grid-view-item product-card">
                  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
                    <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
                  </a>
                  <div class="grid-view-item__image-wrapper">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
                  {% include 'product-price' %}
                </div>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>

        {% if section.settings.show_view_all %}
          <hr class="hr--invisible" aria-hidden="true" />
          <div class="text-center">
            <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
              {{ 'collections.general.view_all' | t }}
            </a>
          </div>
        {% endif %}

      </div>
    </div>
  	{% endcomment %}
</div>