<div class="page-width">
  <div class="main-title-filter">
    <h1 class="blog-title">{{ blog.title }}</h1>
    <div class="recipe-filter-wrapper">
      <p class="main-filter-title"><img src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/filter.png?v=1619462494">Filter</p>
      <div class="filter-content-wrapper">
        
        <div class="filter-time-wrapper filter-item-content-wrapper">
          <p class="filter-subtitle">Cook time</p>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-time-1" class="custom" data-filter="cook_30m"/>
            <label for="checkbox-time-1">15 min - 30 min</label> 
          </div>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-time-2" class="custom" data-filter="cook_45m"/>
            <label for="checkbox-time-2">30 min - 45 min</label> 
          </div>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-time-3" class="custom" data-filter="cook_60m"/>
            <label for="checkbox-time-3">45 min - 1 hour</label> 
          </div>
        </div>

        <div class="filter-type-wrapper filter-item-content-wrapper">
          <p class="filter-subtitle">Type</p>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-type-1" class="custom" data-filter="type_chicken"/>
            <label for="checkbox-type-1">Chicken</label> 
          </div>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-type-2" class="custom" data-filter="type_beef"/>
            <label for="checkbox-type-2">Beef</label> 
          </div>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-type-3" class="custom" data-filter="type_pork"/>
            <label for="checkbox-type-3">Pork</label> 
          </div>
        </div>

        <div class="filter-meal-wrapper filter-item-content-wrapper">
          <p class="filter-subtitle">Meal</p>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-meal-1" class="custom" data-filter="meal_breakfast"/>
            <label for="checkbox-meal-1">Breakfast</label> 
          </div>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-meal-2" class="custom" data-filter="meal_lunch"/>
            <label for="checkbox-meal-2">Lunch</label> 
          </div>
          <div class="filter-item-wrapper">
            <input type="checkbox" id="checkbox-meal-3" class="custom" data-filter="meal_dinner"/>
            <label for="checkbox-meal-3">Dinner</label> 
          </div>
        </div>
        
        <div class="button-wrapper">
          <a class="btn btn-apply">Apply</a>
          <a class="btn btn-cancel">Cancel</a>
        </div>
        
      </div>
      {% comment %}
      <div class="">
        <div class="selector-wrapper collection-main__sort__selector">
          <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
          <select name="SortBy" id="SortBy">
            <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
            <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
            <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
            <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
            <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
            <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
            <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
            <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
          </select>
        </div>

      </div>
      {% endcomment %}
    </div>
  </div>
</div>

<div class="recipe-main-header">
{% include 'include-recipe-page-hero' %}
</div>

{% paginate blog.articles by 8 %}

<div class="page-width blog-content">  
  <div class="blog-grid">
    <div class="loading-wrapper hide">
      <img src="{{ 'ajax-loader.gif' | asset_img_url: 'master' }}">
    </div>
    <div class="blog-content-wrapper">
      {% for article in blog.articles %}
        {% assign counter = forloop.index | modulo: 4 %}
        {% if  counter == 1 %}
        <div class="blog-grid-row-wrapper grid--view-items">
          {% endif %}
          <div class="blog-grid-item-wrapper grid__item small--one-half medium-up--one-quarter">
            {% include 'blog-grid-item' with article: article, show_excerpt_or_desc: true %}
          </div>   
          {% if counter == 0 %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
    
  </div>
  
  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}
</div>

{% endpaginate %}

{% schema %}
{
  "name": {
    "da": "Billede med tekstoverlejring",
    "de": "Foto mit überlegtem Text",
    "en": "Image with text overlay",
    "es": "magen con texto superpuesto",
    "fi": "Kuva päällä olevalla tekstillä",
    "fr": "Image avec calque texte",
    "hi": "पाठ ओवरले के साथ इमेज",
    "it": "Immagine con testo",
    "ja": "テキストオーバーレイ付き画像",
    "ko": "텍스트 오버레이 포함 이미지",
    "nb": "Bilde med tekstoverlegg",
    "nl": "Foto met tekstoverlay",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com sobreposição de texto",
    "sv": "Bild med textöverlagring",
    "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
    "zh-CN": "带文本叠加的图片",
    "zh-TW": "附文字疊加層的圖片"
  },
  "class": "index-section section--hero-banner blog-events-banner recipe-details-banner recipe-details-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "da": "Justering af billede",
        "de": "Fotoausrichtung",
        "en": "Image alignment"
      },
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": {
            "da": "Top",
            "de": "Oben",
            "en": "Top"
          }
        },
        {
          "value": "center",
          "label": {
            "da": "I midten",
            "de": "Mitte",
            "en": "Middle"
          }
        },
        {
          "value": "bottom",
          "label": {
            "da": "Bund",
            "de": "Unten",
            "en": "Bottom"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_layout",
      "label": {
        "da": "Layout",
        "de": "Layout",
        "en": "Layout"
      },
      "default": "full_width",
      "options": [
        {
          "label": {
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width"
          },
          "value": "full_width"
        },
        {
          "label": {
            "da": "Fast bredde",
            "de": "Feste Breite",
            "en": "Fixed width"
          },
          "value": "fixed_width"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": {
        "da": "Højde på afsnit",
        "de": "Bereichs-Höhe",
        "en": "Section height"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Tilpas til billede",
            "de": "An Bild anpassen",
            "en": "Adapt to image",
            "es": "Adaptar a la imagen"
          },
          "value": "adapt"
        },
        {
          "label": {
            "da": "Ekstra lille",
            "de": "Extra klein",
            "en": "Extra Small"
          },
          "value": "x-small"
        },
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large"
          },
          "value": "large"
        },
        {
          "label": {
            "da": "Ekstra stor",
            "de": "Extra groß",
            "en": "Extra Large"
          },
          "value": "x-large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Image with text overlay",
        "es": "magen con texto superpuesto"
      }
    },
    {
      "type": "html",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>",
        "es": "<p>Usa el texto superpuesto para darles información útil a tus clientes sobre tu marca. Selecciona imágenes y textos que se relacionen con tu estilo e historia.</p>"
        
      }
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label":  "Button 1 label"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button 1 link"
    },
	{
      "type": "text",
      "id": "button_label_2",
      "label": "Button 2 label"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button 2 link"
    },
	{
      "type": "text",
      "id": "button_label_3",
      "label":  "Button 3 label"
    },
    {
      "type": "url",
      "id": "button_link_3",
      "label": "Button 3 link"
    },
	{
      "type": "text",
      "id": "button_label_4",
      "label": "Button 4 label"
    },
    {
      "type": "url",
      "id": "button_link_4",
      "label": "Button 4 link"
    },
    {
      "type": "header",
      "content": "promo block",
      "info": "Promo product on the banner"
    },
    {
      "type": "checkbox",
      "id": "promo_on",
      "label": "enable promo block",
      "default": true
    },
    {
      "type": "html",
      "id": "first_text",
      "label": "Text",
      "default": "Prep & Cook Time"
    },
    {
      "type": "html",
      "id": "text_2th",
      "label": "Text",
      "default": "Difficulty Level"
    },
    {
      "type": "html",
      "id": "text_3th",
      "label": "Text",
      "default": "Cook Within"
    },
    {
      "type": "html",
      "id": "text_4th",
      "label": "Text",
      "default": "Spice Level"
    }, 
    {
      "type": "html",
      "id": "promo_conent",
      "label": "Text",
      "default": "Content"
    },
    {
      "type": "html",
      "id": "promo_conent_2",
      "label": "Text",
      "default": "Content"
    }
  ]
}
{% endschema %}

